certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
huggingface-hub==0.0.17
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.21.2
packaging==21.0
Pillow==8.3.2
pycodestyle==2.7.0
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
sacremoses==0.0.45
six==1.16.0
tokenizers==0.10.3
toml==0.10.2
torch
torchaudio
torchvision
tqdm==4.62.2
transformers==4.10.2
typing-extensions==3.10.0.2
urllib3==1.26.6
Werkzeug==2.0.1
youtube-transcript-api==0.4.1
